.necesitas-ayuda {
	margin-bottom: 4rem;
}
.height-100{
	height: 100%;
}
.cont-ayuda .cont-icon{
	margin-left: -43px;
}
.cont-ayuda h5{
	font-weight: 600;
}
@media (min-width: 768px){
	.cont-ayuda .cont-icon{
		margin-left: 0;
		margin-top: -20px;
	}
	.height-custom{
		height: calc(100% - 32px);
	}
}