/******************************************
 Colors
******************************************/


















/* Blue Palette */








/* Yellow Palette */







/* Gray Palette */








/* Primary */


/* White */



/* Black */



/* Green */


/* Blue light CS */


/* Tertiary */


/* Light */


/* Gray CS */


/* Danger */


/* Info */


/* Warning */


/* Dark */



/******************************************
 Transition
******************************************/



/******************************************
 Media Queries (Mobile First)
******************************************/









/******************************************
  FONT SIZES (Mobile)
******************************************/














/******************************************
  FONT WEIGHT
******************************************/




/******************************************
	SHADOW
******************************************/





/******************************************
	BORDER-RADIUS SIZES 
******************************************/

 /* 3px */
 /* 6px */
 /* 12px */



/******************************************
 Colors
******************************************/


















/* Blue Palette */








/* Yellow Palette */







/* Gray Palette */








/* Primary */


/* White */



/* Black */



/* Green */


/* Blue light CS */


/* Tertiary */


/* Light */


/* Gray CS */


/* Danger */


/* Info */


/* Warning */


/* Dark */



/******************************************
 Transition
******************************************/



/******************************************
 Media Queries (Mobile First)
******************************************/









/******************************************
  FONT SIZES (Mobile)
******************************************/














/******************************************
  FONT WEIGHT
******************************************/




/******************************************
	SHADOW
******************************************/





/******************************************
	BORDER-RADIUS SIZES 
******************************************/

 /* 3px */
 /* 6px */
 /* 12px */

/* Form Login */
.form__login {
  max-width: 320px;
 	margin: 0 auto;
	padding-top: 2rem;
}
.form__login .btn {
	width: 100%;
}
.form__login .inner-password input {
	padding: .938rem .9rem .438rem;
	padding-right: 2.4rem;
}
.form__login .inner-password [class*="icon-bci-"] {
  position: absolute;
  right: 0;
	top: 0;
  width: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 100%;
}	
.form__login .login__list {
	text-align: center;
}	
.form__login .login__list li {
	margin-bottom: .5rem;
}
@media all and (min-width: 768px) {
	.form__login {
		padding-top: 0;
	}
	.form__login .btn {
		width: auto;
		min-width: 60%;
	}
}

.panel__consumo-header {
	height: 180px;
	width: 100%;
	background: #546E7A url(https://cdn3.bci.cl/uploads/2587d7f8-7be4-44d5-9def-52d1b58da078/original/bg-credito-consumo-modal.jpg) no-repeat center left;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 1.5rem;
}
.wdgt {
	z-index: 9999 !important;
}
.panel__consumo-content {
	position: relative;
	width: 100%;
}
.panel__consumo-content:before {
	content: '';
	position: absolute;
	height: 60px;
	width: 100%;
	border-top-left-radius: 60px;
	background: rgba(255, 255, 255, 1); 
	top: -60px;
}

.panel__consumo-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.cont-panel {
	position: relative;
}

.inner-form-control input {
    padding: .938rem .9rem .438rem;
    padding-right: 2.4rem;
}

.inner-form-control {
	position: relative;
}
.inner-form-control .form-control-clear {
	position: absolute;
  right: 0;
  top: 0;
  width: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 100%;
	
}
.form__consumo-wrapper {
	max-width: 500px;
	margin: 0 auto;
}
.form__consumo-message {
  display: flex;
  align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.form__consumo-message .form__consumo-monologo {
	width: 100px;
	height: 100px;
}
.form__consumo-message .card {
	width: 90%;
	margin-top: 30px;
}
.form__consumo-message .card:before {
	content:'';
	position: absolute;
	left: 50%;
  top: -10px;
  transform: translate(-50%, 0) rotate(135deg);
  display: inline-block;
  width: 20px;
  height: 20px;
	background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #f2f3f4;
  border-left: 1px solid #f2f3f4;
}
.form__consumo-wrapper .error-message {
	font-size: 0.875rem;
	color: #ED0C19;
}
.panel__consumo-form  {
	height: 100%;
}
.panel__consumo-form .icon-right-top {
	top: 0;
	right: 0;
}
form button, form [type="submit"], form .btn {
	display: block;
	width: 100%;
	margin: 0 auto;
} 
@media (min-width: 576px) {
	.form__consumo-message {
		flex-direction: row;
	}
	.form__consumo-message .card {
		width: calc(100% - 140px);
		margin-left: 12px;
		margin-top: 0;
	}
	.form__consumo-message .card:before {
		left: -10px;
		top: 50%;
		transform: translate(0, -50%) rotate(45deg);
	}
}
@media (min-width: 768px){
	form button, form [type="submit"], form .btn {
		width: 100%;
		max-width: 200px;
    min-width: max-content;
	} 
}
@media (min-width: 1200px){
	.bci-panel--left.bci-panel--medium .bci-panel__container, 
	.bci-panel--right.bci-panel--medium .bci-panel__container, 
	.bci-panel--left.bci-panel--medium .bci-panel__header, 
	.bci-panel--right.bci-panel--medium .bci-panel__header {
		width: 50%;
	}
}